
export AWS_ACCESS_KEY_ID=GK...
export AWS_SECRET_ACCESS_KEY=...
export AWS_DEFAULT_REGION=...
export AWS_BUCKET=slidex-dev
export AWS_ENDPOINT_HOST=s3.example.com
export AWS_ENDPOINT_URL=https://s3.example.com
export AWS_ENDPOINT_PORT=3900

export DB_HOST=...
export DB_PORT=...
export DB_USER=...
export DB_PASS=...
export DB_NAME=slidex_dev

export PORT=5716