
AWS_ACCESS_KEY_ID=GK...
AWS_SECRET_ACCESS_KEY=...
AWS_DEFAULT_REGION=...
AWS_BUCKET=slidex-prod
AWS_ENDPOINT_HOST=s3.example.com
AWS_ENDPOINT_URL=https://s3.example.com
AWS_ENDPOINT_PORT=3900

DB_HOST=...
DB_PORT=...
DB_USER=...
DB_PASS=...
DB_NAME=slidex_dev
ECTO_IPV6=true

PHX_HOST=slidex.example.com
PORT=5716
SECRET_KEY_BASE=...
